{% extends("base.html.twig") %}
{% block body %}

    <div class="container-fluid  py-5">
        <h1 class="text-center my-5">Year is {{ year }} !</h1>
        <a class="btn btn-info"  href="{{ path("main_page") }}" style="border-bottom-left-radius: 0;
        border-bottom-right-radius: 0">Back to search</a>
        <div class="d-flex justify-content-between">
            <div class="w-50">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Month</th>
                            <th scope="col">Day of the month</th>
                            <th scope="col">Name of Holiday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for section in data %}
                                <tr>
                                    <td>{{ section.date.month }}</td>
                                    <td>{{ section.date.day }}</td>
                                    <td>{{ section.name[1].text }}</td>
                                </tr>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-50">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Month</th>
                            <th scope="col">Day of the month</th>
                            <th scope="col">Name of Holiday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for section in data %}
                                <tr>
                                    <td>{{ section.date.month }}</td>
                                    <td>{{ section.date.day }}</td>
                                    <td>{{ section.name[0].text }}</td>
                                </tr>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="w-100">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Total holidays in this year</th>
                    <th scope="col">Status of today day</th>
                    <th scope="col">Maximum number of free day + holiday this year</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ total_holidays }}</td>
                    <td>{{ chill_or_not }}</td>
                    <td>{{ freeDaysAndHolidays }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}